@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('vegetables.jpg');
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.catalogue {
  background-color: rgba(15, 54, 54, 0.514);
  width: 100%;
  height: 700px;
}

.card {
  background-image: url('vegetables-group-two.png');
  background-size: cover;
  background-color: azure;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  opacity: 0.95;
}

.card-catalogue {
  background-color: azure;
  opacity: 0.9;
  margin-left: 20%;
  margin-right: 20%;  
  padding-left: 5%;
  padding-right: 5%;  
}

.text-catalogue {
  font-family: 'Livvic';
  padding-bottom: 6%;
  padding-top: 6%;
}

.card-img {
  opacity: 100%;
  width: 10%;
  height: 30%;
}

.text-card {
  background-color: bisque;
  width: 300px;
  max-width: 500px;
  opacity: 0.9;
  padding:10px; 
  margin-left: 50%;
  margin-right: 20%;
  position: relative;
  
}

.h1-card {
  text-align: right;
}

.h3-card {
  text-align: right;
}

.h5-card {
  text-align: right;
}

.img-about {
  width: 100%;
}

.itemNavbar {
  color: bisque;
  display: inline-block;
  padding: 1%;
  text-decoration: none;
}

.footer {
  color: azure;
  background-color: teal;
  height: 60px;
  position: absolute;
  padding-top: 0px;
  width: 100%;
  margin-top: 20px;
}

.catalogue-img {
  width: 400px;
}

.h3-contact {
  color: azure;
  font-family: 'Livvic', sans-serif;
  font-weight: bolder;
}

.soft {
  color: azure;
  font-family: 'Livvic', sans-serif;
}

.titleNavbar {
  color: azure; 
  display: inline-block;
  padding-right: 20%;
  text-decoration: none;
}

.navBar {
  background-color: teal;
  box-shadow: inset 0px 6px 6px rgba(15, 54, 54, 0.514);
  
}

.main-paragraph {
  opacity: 0.8;
  color: azure;
  background-color: black;
  font-family: 'Livvic', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}

.bg-image {
  opacity: 0.85;
}

.card-contact {
  padding: 20px;
  opacity: 0.8;
  background-color: black;
  margin: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.register-card {
  background-color: azure;
  opacity: 0.95;
  margin-left: 20%;
  margin-right: 20%;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.register-form {
  display: inline-block;
  padding-left: 20%;
  padding-right: 20%;
}

.register-image {
  width: 100%;
}

button {
  opacity: 1;
  background-color: rgb(26, 109, 67);
  border: none;
  color: azure;
  font-size: larger;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

input {
  display: block;
  width: 300px;
  border-radius: 2px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 30px;
  margin-top: 9px;
}

@media (max-width: 950px) {
  

  h1 {
    font-size: 15px;
  }

  h3 {
    font-size: 13px;
  }

  h5 {
    font-size: 9px;
  }

  p {
    font-size: 13px;
  }

  .text-card {
    background-color: bisque;
    width: 150px;
    max-width: 500px;
    opacity: 0.9;
    padding:10px; 
    margin-left: 50%;
    margin-right: 20%;
    position: relative;
    
  }

  .register-card {
    background-color: azure;
    opacity: 0.95;
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  input {
    padding-left: 8px;
    display: block;
    width: 160px;
    border-radius: 2px;
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: 'Livvic', sans-serif;
    height: 25px;
    margin-top: 9px;
  }

  button {
    opacity: 1;
    background-color: rgb(26, 109, 67);
    border: none;
    color: azure;
    font-size: small;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .titleNavbar {
    color: azure; 
    display: inline-block;
    padding-right: 10%;
    text-decoration: none;
  }
}

